<footer class="footer mt-auto py-3 bg-dark text-center">
  <div class="text-center p-3 mt-2 text-light">
    <small>2022 Copyright: &copy; <%= link_to "Sheetal Sehrawat", "www.linkedin.com/in/sheetalsehrawat", class: "text-white" %></small>
  </div>
</footer>